OSD_Reg_backup 2.json
{
  "name": "OSD_Reg",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "submit-registration",
        "options": {
          "noResponseBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -380,
        240
      ],
      "id": "36e9b6fb-2e1f-4458-ab95-92fe79ec2e3f",
      "name": "Webhook Trigger",
      "webhookId": "6ff74a92-c06a-4505-9f87-29ce59bc13f4"
    },
    {
      "parameters": {
        "jsCode": "// Process form data and attachments\nconst items = $input.all();\n\nfor (let item of items) {\n  // Handle nationality field\n  if (item.json.body.nationality === 'Other' && item.json.body.otherNationality) {\n    item.json.body.nationality = item.json.body.otherNationality;\n  }\n  \n  // Process exam sessions to determine exam level and exam date\n  if (item.json.body.examSessions) {\n    const sessions = Array.isArray(item.json.body.examSessions) ? \n      item.json.body.examSessions : [item.json.body.examSessions];\n    \n    // Extract exam levels and locations from Chinese format (e.g., \"北京-A1-全科\", \"成都-A2-笔试\")\n    const levels = new Set();\n    const locations = new Set();\n    const examDetails = [];\n    \n    sessions.forEach(session => {\n      const parts = session.split('-');\n      if (parts.length >= 3) {\n        const location = parts[0];  // 北京, 成都\n        const level = parts[1];     // A1, A2 (removed B1)\n        const module = parts[2];    // 全科, 笔试, 口试\n        \n        levels.add(level);\n        locations.add(location);\n        examDetails.push({\n          location: location,\n          level: level,\n          module: module,\n          session: session\n        });\n      }\n    });\n    \n    // Set exam level (primary level) - use the one from form if available\n    if (!item.json.body.examLevel || item.json.body.examLevel === '') {\n      item.json.body.examLevel = Array.from(levels).sort()[0] || 'N/A';\n    }\n    \n    // Set exam date based on selected locations\n    let examDate = 'TBD';\n    const locationArray = Array.from(locations);\n    \n    if (locationArray.includes('北京') && locationArray.includes('成都')) {\n      // If both venues are selected, show both dates\n      examDate = '2025/8/27 (成都), 2025/9/6 (北京)';\n    } else if (locationArray.includes('北京')) {\n      // Only Beijing selected\n      examDate = '2025/9/6';\n    } else if (locationArray.includes('成都')) {\n      // Only Chengdu selected\n      examDate = '2025/8/27';\n    }\n    \n    item.json.body.examDate = examDate;\n    console.log('ExamDate set based on venues:', examDate, 'Locations:', locationArray);\n    \n    // Store exam details for email\n    item.json.body.examDetails = examDetails;\n  } else {\n    // If no exam sessions, set date to TBD\n    item.json.body.examDate = 'TBD';\n    console.log('No exam sessions found, setting examDate to TBD');\n  }\n  \n  // Process signed document attachment\n  if (item.json.body.signedDocument && item.json.body.signedDocument.content) {\n    const attachmentData = item.json.body.signedDocument;\n    \n    // Convert base64 to binary buffer\n    const binaryBuffer = Buffer.from(attachmentData.content, 'base64');\n    \n    // Create binary data property\n    item.binary = item.binary || {};\n    item.binary.attachment = {\n      data: binaryBuffer,\n      mimeType: attachmentData.mimeType || 'application/octet-stream',\n      fileName: attachmentData.filename || 'signed_document'\n    };\n  }\n  \n  // Process passport upload if present\n  if (item.json.body.passportUpload && item.json.body.passportUpload.content) {\n    const passportData = item.json.body.passportUpload;\n    \n    // Convert base64 to binary buffer\n    const binaryBuffer = Buffer.from(passportData.content, 'base64');\n    \n    // Create binary data property for passport\n    item.binary = item.binary || {};\n    item.binary.passport = {\n      data: binaryBuffer,\n      mimeType: passportData.mimeType || 'application/octet-stream',\n      fileName: passportData.filename || 'passport'\n    };\n  }\n  \n  // Add timestamp if not present\n  if (!item.json.body.timestamp) {\n    item.json.body.timestamp = new Date().toISOString();\n  }\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -180,
        240
      ],
      "id": "7cea26c9-7ed5-4ee1-a540-65043496c202",
      "name": "Process Form Data"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GBu2AgIhKBJE5q34Hk6s6DL6fRaTW-yqiZMf8blVNd0",
          "mode": "list",
          "cachedResultName": "test_registration_sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GBu2AgIhKBJE5q34Hk6s6DL6fRaTW-yqiZMf8blVNd0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e7IBYNKiEvdZOscI0YaBK9uk6ReymltU0bWHJZ1e3D8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ChineseName": "={{ $json.body.lastName + ' ' + $json.body.firstName }}",
            "FirstName": "={{ $json.body.firstName }}",
            "LastName": "={{ $json.body.lastName }}",
            "Gender": "={{ $json.body.gender }}",
            "BirthDate": "={{ $json.body.birthDate }}",
            "Nationality": "={{ $json.body.nationality }}",
            "BirthPlace": "={{ $json.body.birthPlace }}",
            "Passport": "={{ $json.body.passportNumber }}",
            "E-mail": "={{ $json.body.email }}",
            "Mobile": "={{ $json.body.phoneNumber }}",
            "First_Time": "={{ $json.body.firstTimeExam }}",
            "A2_BJ_Written": "={{ $json.body.examSessions ? ($json.body.examSessions.join(',').includes('北京-A2-笔试') || $json.body.examSessions.join(',').includes('北京-A2-全科') ? 'TRUE' : 'FALSE') : 'FALSE' }}",
            "A2_BJ_Oral": "={{ $json.body.examSessions ? ($json.body.examSessions.join(',').includes('北京-A2-口试') || $json.body.examSessions.join(',').includes('北京-A2-全科') ? 'TRUE' : 'FALSE') : 'FALSE' }}",
            "A1_BJ_Written": "={{ $json.body.examSessions ? ($json.body.examSessions.join(',').includes('北京-A1-笔试') || $json.body.examSessions.join(',').includes('北京-A1-全科') ? 'TRUE' : 'FALSE') : 'FALSE' }}",
            "A1_BJ_Oral": "={{ $json.body.examSessions ? ($json.body.examSessions.join(',').includes('北京-A1-口试') || $json.body.examSessions.join(',').includes('北京-A1-全科') ? 'TRUE' : 'FALSE') : 'FALSE' }}",
            "A2_CD_Written": "={{ $json.body.examSessions ? ($json.body.examSessions.join(',').includes('成都-A2-笔试') || $json.body.examSessions.join(',').includes('成都-A2-全科') ? 'TRUE' : 'FALSE') : 'FALSE' }}",
            "A2_CD_Oral": "={{ $json.body.examSessions ? ($json.body.examSessions.join(',').includes('成都-A2-口试') || $json.body.examSessions.join(',').includes('成都-A2-全科') ? 'TRUE' : 'FALSE') : 'FALSE' }}",
            "A1_CD_Written": "={{ $json.body.examSessions ? ($json.body.examSessions.join(',').includes('成都-A1-笔试') || $json.body.examSessions.join(',').includes('成都-A1-全科') ? 'TRUE' : 'FALSE') : 'FALSE' }}",
            "A1_CD_Oral": "={{ $json.body.examSessions ? ($json.body.examSessions.join(',').includes('成都-A1-口试') || $json.body.examSessions.join(',').includes('成都-A1-全科') ? 'TRUE' : 'FALSE') : 'FALSE' }}",
            "TestDate": "={{ $json.body.examDate }}",
            "PassportUploaded": "={{ $json.body.passportUpload ? 'TRUE' : 'FALSE' }}",
            "Reg_Time": "={{ $json.body.timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ChineseName",
              "displayName": "ChineseName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FirstName",
              "displayName": "FirstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LastName",
              "displayName": "LastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gender",
              "displayName": "Gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "BirthDate",
              "displayName": "BirthDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nationality",
              "displayName": "Nationality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "BirthPlace",
              "displayName": "BirthPlace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Passport",
              "displayName": "Passport",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mobile",
              "displayName": "Mobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First_Time",
              "displayName": "First_Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A2_BJ_Written",
              "displayName": "A2_BJ_Written",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A2_BJ_Oral",
              "displayName": "A2_BJ_Oral",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A1_BJ_Written",
              "displayName": "A1_BJ_Written",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A1_BJ_Oral",
              "displayName": "A1_BJ_Oral",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A2_CD_Written",
              "displayName": "A2_CD_Written",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A2_CD_Oral",
              "displayName": "A2_CD_Oral",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A1_CD_Written",
              "displayName": "A1_CD_Written",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A1_CD_Oral",
              "displayName": "A1_CD_Oral",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TestDate",
              "displayName": "TestDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PassportUploaded",
              "displayName": "PassportUploaded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reg_Time",
              "displayName": "Reg_Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        120,
        320
      ],
      "id": "5928b813-33da-48eb-82c4-9c92524aaa2c",
      "name": "Google Sheets",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OWrqKQaJ59Y0WeAD",
          "name": "Skee's Google Sheet"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"报名成功！请查收邮件！\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        520,
        320
      ],
      "id": "a543102d-f857-45f1-9c8c-adaaaf393df5",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "fromEmail": "info@sdi-osd.de",
        "toEmail": "skee.chen@xuezaideguo.com",
        "subject": "=新的奥德考试报名申请 - {{ $json.body.lastName }} {{ $json.body.firstName }}",
        "html": "=<div><h2>新的奥德考试报名申请</h2></div><div><br></div><div><strong>学生信息：</strong></div><div>• 姓名：{{ $json.body.lastName }} {{ $json.body.firstName }}</div><div>• 性别：{{ $json.body.gender }}</div><div>• 出生日期：{{ $json.body.birthDate }}</div><div>• 国籍：{{ $json.body.nationality }}</div><div>• 出生地：{{ $json.body.birthPlace }}</div><div>• 邮箱：{{ $json.body.email }}</div><div>• 手机号码：{{ $json.body.phoneNumber }}</div><div>• 护照号码：{{ $json.body.passportNumber }}</div><div><br></div><div><strong>考试信息：</strong></div><div>• 主要等级：{{ $json.body.examLevel }}</div><div>• 考试场次：{{ $json.body.examSessions ? $json.body.examSessions.join(', ') : '无' }}</div><div>• 考试日期：{{ $json.body.examDate }}</div><div>• 首次参加：{{ $json.body.firstTimeExam }}</div><div><br></div><div><strong>报名时间：</strong> {{ $json.body.timestamp }}</div><div><br></div><div><strong>文件信息：</strong></div><div>• 签字文件：{{ $json.body.signedDocument ? $json.body.signedDocument.filename : '未上传' }}</div><div>• 护照文件：{{ $json.body.passportUpload ? $json.body.passportUpload.filename : '未上传' }}</div>",
        "attachments": "={{ $binary.passport ? 'attachment,passport' : 'attachment' }}",
        "options": {}
      },
      "name": "Send Email to Admin",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        120,
        60
      ],
      "id": "e37ceb57-3582-49bb-b191-a3a547ae2226",
      "credentials": {
        "smtp": {
          "id": "evEHcleKBaWVF93k",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Process Form Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Form Data": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email to Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "54408af6-3c9d-41c2-965c-bdb58baa8372",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "62c4f474723b914af91e4af15e30298257d6540140abed5d09006251f9987da1"
  },
  "id": "ThG9oxXxEHkbCV5I",
  "tags": []
}