OSD_Payment.json
{
  "name": "OSD_Payment",
  "nodes": [
    {
      "parameters": {
        "fromEmail": "info@sdi-osd.de",
        "toEmail": "={{ $json.body.email }}",
        "subject": "={{ $json.body.lastName }} {{ $json.body.firstName }} - 奥德考试报名后续流程通知",
        "html": "=<div><div>{{ $json.body.lastName }}, {{ $json.body.firstName }}同学，</div><div><br></div><div>你好！你已成功报名SDI奥德考试中心奥德考试。</div><div><br></div><div>以下为你的报名信息：</div><div>1、报名等级：{{ $json.body.examLevel }}等级考试</div><div>2、报名科目：{{ $json.body.examModules }}</div><div>3、护照信息：{{ $json.body.passportNumber }}</div><div>4、考试日期：{{ $json.body.examDate }}</div><div><br></div><div>若您尚未获得护照，请在<b><u>考试日期前至少14天</u></b>回复本邮件补充提交。若已提交护照，请忽略。</div><div><br></div><div>考前5-7天左右您的电子邮箱将收到一份考试确认函，请自行打印好该确认函，并在考试当天携带纸质考试确认函以及护照原件到达考点参加考试，复印件或其他证件均无效；不能出示纸质考试确认函及护照原件者，无法参加考试。</div><div><br></div><div>如有任何疑问，请通过邮件联系我们info@sdi-osd.de</div><div><br></div><div>--------------------------------------------</div><div>SDI Internationale Hochschule München</div><div>ÖSD Prüfungszentrum</div><div>Konsulatsstraße 01 610043 Chengdu&nbsp;</div><div>Kontakt: info@sdi-osd.de</div><div>慕尼黑SDI语言大学</div><div>奥德考试中心</div></div><div><br></div>",
        "options": {}
      },
      "name": "Send Email to Student",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        220,
        40
      ],
      "id": "58e33cfa-9d0b-440a-b200-02db9e924bef",
      "credentials": {
        "smtp": {
          "id": "evEHcleKBaWVF93k",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "submit-payment",
        "options": {
          "noResponseBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -280,
        40
      ],
      "id": "3a54fc73-b43b-400d-865c-74a60b0335ed",
      "name": "Webhook Trigger",
      "webhookId": "6ff74a92-c06a-4505-9f87-29ce59bc13f4"
    },
    {
      "parameters": {
        "jsCode": "// Process form data and attachments\nconst items = $input.all();\n\nfor (let item of items) {\n  // Handle nationality field\n  if (item.json.body.nationality === 'Other' && item.json.body.otherNationality) {\n    item.json.body.nationality = item.json.body.otherNationality;\n  }\n  \n  // Process exam sessions to determine exam level and exam date\n  if (item.json.body.examSessions) {\n    const sessions = Array.isArray(item.json.body.examSessions) ? \n      item.json.body.examSessions : [item.json.body.examSessions];\n    \n    // Extract exam levels and locations from Chinese format (e.g., \"北京-A1-全科\", \"成都-A2-笔试\")\n    const levels = new Set();\n    const locations = new Set();\n    const examDetails = [];\n    \n    sessions.forEach(session => {\n      const parts = session.split('-');\n      if (parts.length >= 3) {\n        const location = parts[0];  // 北京, 成都\n        const level = parts[1];     // A1, A2 (removed B1)\n        const module = parts[2];    // 全科, 笔试, 口试\n        \n        levels.add(level);\n        locations.add(location);\n        examDetails.push({\n          location: location,\n          level: level,\n          module: module,\n          session: session\n        });\n      }\n    });\n    \n    // Set exam level (primary level) - use the one from form if available\n    if (!item.json.body.examLevel || item.json.body.examLevel === '') {\n      item.json.body.examLevel = Array.from(levels).sort()[0] || 'N/A';\n    }\n    \n    // Set exam date based on selected locations\n    let examDate = 'TBD';\n    const locationArray = Array.from(locations);\n    \n    if (locationArray.includes('北京') && locationArray.includes('成都')) {\n      // If both venues are selected, show both dates\n      examDate = '2025/8/27 (成都), 2025/9/6 (北京)';\n    } else if (locationArray.includes('北京')) {\n      // Only Beijing selected\n      examDate = '2025/9/6';\n    } else if (locationArray.includes('成都')) {\n      // Only Chengdu selected\n      examDate = '2025/8/27';\n    }\n    \n    item.json.body.examDate = examDate;\n    console.log('ExamDate set based on venues:', examDate, 'Locations:', locationArray);\n    \n    // Store exam details for email\n    item.json.body.examDetails = examDetails;\n  } else {\n    // If no exam sessions, set date to TBD\n    item.json.body.examDate = 'TBD';\n    console.log('No exam sessions found, setting examDate to TBD');\n  }\n  \n  // Process signed document attachment\n  if (item.json.body.signedDocument && item.json.body.signedDocument.content) {\n    const attachmentData = item.json.body.signedDocument;\n    \n    // Convert base64 to binary buffer\n    const binaryBuffer = Buffer.from(attachmentData.content, 'base64');\n    \n    // Create binary data property\n    item.binary = item.binary || {};\n    item.binary.attachment = {\n      data: binaryBuffer,\n      mimeType: attachmentData.mimeType || 'application/octet-stream',\n      fileName: attachmentData.filename || 'signed_document'\n    };\n  }\n  \n  // Process passport upload if present\n  if (item.json.body.passportUpload && item.json.body.passportUpload.content) {\n    const passportData = item.json.body.passportUpload;\n    \n    // Convert base64 to binary buffer\n    const binaryBuffer = Buffer.from(passportData.content, 'base64');\n    \n    // Create binary data property for passport\n    item.binary = item.binary || {};\n    item.binary.passport = {\n      data: binaryBuffer,\n      mimeType: passportData.mimeType || 'application/octet-stream',\n      fileName: passportData.filename || 'passport'\n    };\n  }\n  \n  // Add timestamp if not present\n  if (!item.json.body.timestamp) {\n    item.json.body.timestamp = new Date().toISOString();\n  }\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        40
      ],
      "id": "3811ae9d-34dc-4283-95d5-3424c0250387",
      "name": "Process Form Data"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GBu2AgIhKBJE5q34Hk6s6DL6fRaTW-yqiZMf8blVNd0",
          "mode": "list",
          "cachedResultName": "test_registration_sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GBu2AgIhKBJE5q34Hk6s6DL6fRaTW-yqiZMf8blVNd0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e7IBYNKiEvdZOscI0YaBK9uk6ReymltU0bWHJZ1e3D8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "PassportUploaded": "={{ $json.body.paymentUpload ? 'TRUE' : 'FALSE' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ChineseName",
              "displayName": "ChineseName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FirstName",
              "displayName": "FirstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LastName",
              "displayName": "LastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Gender",
              "displayName": "Gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "BirthDate",
              "displayName": "BirthDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nationality",
              "displayName": "Nationality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "BirthPlace",
              "displayName": "BirthPlace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Passport",
              "displayName": "Passport",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Mobile",
              "displayName": "Mobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "First_Time",
              "displayName": "First_Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "A2_BJ_Written",
              "displayName": "A2_BJ_Written",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "A2_BJ_Oral",
              "displayName": "A2_BJ_Oral",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "A1_BJ_Written",
              "displayName": "A1_BJ_Written",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "A1_BJ_Oral",
              "displayName": "A1_BJ_Oral",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "A2_CD_Written",
              "displayName": "A2_CD_Written",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "A2_CD_Oral",
              "displayName": "A2_CD_Oral",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "A1_CD_Written",
              "displayName": "A1_CD_Written",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "A1_CD_Oral",
              "displayName": "A1_CD_Oral",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TestDate",
              "displayName": "TestDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PassportUploaded",
              "displayName": "PassportUploaded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reg_Time",
              "displayName": "Reg_Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        200
      ],
      "id": "db839fa6-ff23-4fc3-9b9a-fb00c5dd3bd9",
      "name": "Google Sheets",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OWrqKQaJ59Y0WeAD",
          "name": "Skee's Google Sheet"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "info@sdi-osd.de",
        "toEmail": "skee.chen@xuezaideguo.com",
        "subject": "=学生已付费 - {{ $json.body.lastName }} {{ $json.body.firstName }}",
        "html": "=<div><h2>学生完成付费</h2></div><div><br></div><div><strong>学生信息：</strong></div><div>• 姓名：{{ $json.body.lastName }} {{ $json.body.firstName }}</div><div>• 性别：{{ $json.body.gender }}</div><div>• 出生日期：{{ $json.body.birthDate }}</div><div>• 国籍：{{ $json.body.nationality }}</div><div>• 出生地：{{ $json.body.birthPlace }}</div><div>• 邮箱：{{ $json.body.email }}</div><div>• 手机号码：{{ $json.body.phoneNumber }}</div><div>• 护照号码：{{ $json.body.passportNumber }}</div><div><br></div><div><strong>考试信息：</strong></div><div>• 考试场次：{{ $json.body.examSessions ? $json.body.examSessions.join(', ') : '无' }}</div><div>• 考试日期：{{ $json.body.examDate }}</div><div><br></div><div><br></div><div><strong>文件信息：</strong></div><div>• 付费信息：{{ $json.body.paymentUpload ? $json.body.paymentUpload.filename : '未上传' }}</div>",
        "attachments": "={{ $binary.passport ? 'attachment,passport' : 'attachment' }}",
        "options": {}
      },
      "name": "Send Email to Admin",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        220,
        -140
      ],
      "id": "3b9975f1-7ed1-49f7-80ce-e8d30a44ff11",
      "credentials": {
        "smtp": {
          "id": "evEHcleKBaWVF93k",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Process Form Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Form Data": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email to Admin",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email to Student",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7573e907-06cc-4640-acf9-001c59e9420e",
  "meta": {
    "instanceId": "62c4f474723b914af91e4af15e30298257d6540140abed5d09006251f9987da1"
  },
  "id": "w21ppoxXphu7og7S",
  "tags": []
}