OSD_Reg_modified.json
{
  "name": "OSD_Reg",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "submit-registration",
        "options": {
          "noResponseBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -380,
        240
      ],
      "id": "36e9b6fb-2e1f-4458-ab95-92fe79ec2e3f",
      "name": "Webhook Trigger",
      "webhookId": "6ff74a92-c06a-4505-9f87-29ce59bc13f4"
    },
    {
      "parameters": {
        "jsCode": "// Process payment proof data and attachments\nconst items = $input.all();\n\n// 考试场次代码到中文名称的映射\nconst examSessionMapping = {\n  // 北京考场\n  'A1_BJ_VIP': 'A1全科（VIP专场）',\n  \n  // 成都考场 - A1等级\n  'A1_CD_Full': 'A1全科',\n  'A1_CD_Written': 'A1笔试',\n  'A1_CD_Oral': 'A1口试',\n  \n  // 成都考场 - A2等级\n  'A2_CD_Full': 'A2全科',\n  'A2_CD_Written': 'A2笔试',\n  'A2_CD_Oral': 'A2口试',\n  \n  // 成都考场 - B1等级\n  'B1_CD_Full': 'B1全科',\n  'B1_CD_Listening': 'B1听力',\n  'B1_CD_Oral': 'B1口语',\n  'B1_CD_Reading': 'B1阅读',\n  'B1_CD_Written': 'B1写作'\n};\n\n// 考试场次代码到考试日期的映射\nconst examDateMapping = {\n  'A1_BJ_VIP': '2025/9/6 (北京)',\n  'A1_CD_Full': '2025/8/27 (成都)',\n  'A1_CD_Written': '2025/8/27 (成都)',\n  'A1_CD_Oral': '2025/8/27 (成都)',\n  'A2_CD_Full': '2025/8/27 (成都)',\n  'A2_CD_Written': '2025/8/27 (成都)',\n  'A2_CD_Oral': '2025/8/27 (成都)',\n  'B1_CD_Full': '2025/8/27 (成都)',\n  'B1_CD_Listening': '2025/8/27 (成都)',\n  'B1_CD_Oral': '2025/8/27 (成都)',\n  'B1_CD_Reading': '2025/8/27 (成都)',\n  'B1_CD_Written': '2025/8/27 (成都)'\n};\n\n// 考试等级映射\nconst examLevelMapping = {\n  'A1': 'A1等级考试',\n  'A2': 'A2等级考试', \n  'B1': 'B1等级考试'\n};\n\nfor (let item of items) {\n  // Handle nationality field\n  if (item.json.body.nationality === 'Other' && item.json.body.otherNationality) {\n    item.json.body.nationality = item.json.body.otherNationality;\n  }\n  \n  // Process exam sessions to determine exam level and exam date\n  if (item.json.body.examSessions) {\n    const sessions = Array.isArray(item.json.body.examSessions) ? \n      item.json.body.examSessions : [item.json.body.examSessions];\n    \n    // Extract exam levels and locations from session codes\n    const levels = new Set();\n    const locations = new Set();\n    const examDetails = [];\n    const examDates = new Set();\n    \n    sessions.forEach(sessionCode => {\n      // 解析考试场次代码\n      const parts = sessionCode.split('_');\n      if (parts.length >= 3) {\n        const level = parts[0];     // A1, A2, B1\n        const location = parts[1];  // BJ (北京), CD (成都)\n        const module = parts[2];    // VIP, Full, Written, Oral, Listening, Reading\n        \n        // 转换位置代码为中文\n        const locationChinese = location === 'BJ' ? '北京' : '成都';\n        \n        // 获取中文名称\n        const sessionName = examSessionMapping[sessionCode] || sessionCode;\n        \n        // 获取考试日期\n        const examDate = examDateMapping[sessionCode] || 'TBD';\n        \n        levels.add(level);\n        locations.add(locationChinese);\n        examDates.add(examDate);\n        \n        examDetails.push({\n          location: locationChinese,\n          level: level,\n          module: module,\n          sessionCode: sessionCode,\n          sessionName: sessionName,\n          examDate: examDate\n        });\n      }\n    });\n    \n    // Set exam level (显示格式：A1、A2等级考试)\n    if (!item.json.body.examLevel || item.json.body.examLevel === '') {\n      const sortedLevels = Array.from(levels).sort();\n      if (sortedLevels.length === 1) {\n        item.json.body.examLevel = examLevelMapping[sortedLevels[0]] || `${sortedLevels[0]}等级考试`;\n      } else {\n        item.json.body.examLevel = sortedLevels.map(level => examLevelMapping[level] || `${level}等级考试`).join('、');\n      }\n    }\n    \n    // Set exam date based on selected sessions\n    const uniqueDates = Array.from(examDates);\n    if (uniqueDates.length === 1) {\n      item.json.body.examDate = uniqueDates[0];\n    } else if (uniqueDates.length > 1) {\n      // 如果有多个日期，按日期排序\n      item.json.body.examDate = uniqueDates.sort().join('； ');\n    } else {\n      item.json.body.examDate = 'TBD';\n    }\n    \n    // Set exam sessions display (中文名称)\n    const sessionNames = sessions.map(code => examSessionMapping[code] || code);\n    item.json.body.examSessionsDisplay = sessionNames.join('、');\n    \n    item.json.body.examDetails = examDetails;\n  } else {\n    item.json.body.examDate = 'TBD';\n    item.json.body.examSessionsDisplay = '无';\n    item.json.body.examLevel = 'N/A';\n  }\n  \n  // Process payment proof attachment\n  if (item.json.body.paymentProof && item.json.body.paymentProof.content) {\n    const paymentData = item.json.body.paymentProof;\n    \n    // Convert base64 to binary buffer\n    const binaryBuffer = Buffer.from(paymentData.content, 'base64');\n    \n    // Create binary data property for payment proof\n    item.binary = item.binary || {};\n    item.binary.paymentProof = {\n      data: binaryBuffer,\n      mimeType: paymentData.mimeType || 'application/octet-stream',\n      fileName: paymentData.filename || 'payment_proof'\n    };\n    \n    // Mark payment as uploaded\n    item.json.body.paymentUploaded = true;\n  } else {\n    item.json.body.paymentUploaded = false;\n  }\n  \n  // Process signed document if still present\n  if (item.json.body.signedDocument && item.json.body.signedDocument.content) {\n    const attachmentData = item.json.body.signedDocument;\n    const binaryBuffer = Buffer.from(attachmentData.content, 'base64');\n    \n    item.binary = item.binary || {};\n    item.binary.signedDocument = {\n      data: binaryBuffer,\n      mimeType: attachmentData.mimeType || 'application/octet-stream',\n      fileName: attachmentData.filename || 'signed_document'\n    };\n  }\n  \n  // Process passport upload if present\n  if (item.json.body.passportUpload && item.json.body.passportUpload.content) {\n    const passportData = item.json.body.passportUpload;\n    const binaryBuffer = Buffer.from(passportData.content, 'base64');\n    \n    item.binary = item.binary || {};\n    item.binary.passport = {\n      data: binaryBuffer,\n      mimeType: passportData.mimeType || 'application/octet-stream',\n      fileName: passportData.filename || 'passport'\n    };\n  }\n  \n  // Add payment submission timestamp\n  if (!item.json.body.paymentSubmissionTime) {\n    item.json.body.paymentSubmissionTime = new Date().toISOString();\n  }\n  \n  // Format timestamps for display\n  item.json.body.paymentSubmissionTimeFormatted = new Date(item.json.body.paymentSubmissionTime).toLocaleString('zh-CN');\n  item.json.body.originalSubmissionTimeFormatted = new Date(item.json.body.timestamp).toLocaleString('zh-CN');\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        240
      ],
      "id": "7cea26c9-7ed5-4ee1-a540-65043496c202",
      "name": "Process Form Data"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GBu2AgIhKBJE5q34Hk6s6DL6fRaTW-yqiZMf8blVNd0",
          "mode": "list",
          "cachedResultName": "test_registration_sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GBu2AgIhKBJE5q34Hk6s6DL6fRaTW-yqiZMf8blVNd0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e7IBYNKiEvdZOscI0YaBK9uk6ReymltU0bWHJZ1e3D8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "FirstName": "={{ $json.body.firstName }}",
            "LastName": "={{ $json.body.lastName }}",
            "Gender": "={{ $json.body.gender }}",
            "BirthDate": "={{ $json.body.birthDate }}",
            "Nationality": "={{ $json.body.nationality }}",
            "BirthPlace": "={{ $json.body.birthPlace }}",
            "Passport": "={{ $json.body.passportNumber }}",
            "E-mail": "={{ $json.body.email }}",
            "Mobile": "={{ $json.body.phoneNumber }}",
            "First_Time": "={{ $json.body.firstTimeExam }}",
            "A2_CD_Written": "={{ $json.body.examSessions ? ($json.body.examSessions.join(',').includes('A2_CD_Written') || $json.body.examSessions.join(',').includes('A2_CD_Full') ? 'TRUE' : 'FALSE') : 'FALSE' }}",
            "A2_CD_Oral": "={{ $json.body.examSessions ? ($json.body.examSessions.join(',').includes('A2_CD_Oral') || $json.body.examSessions.join(',').includes('A2_CD_Full') ? 'TRUE' : 'FALSE') : 'FALSE' }}",
            "A1_CD_Written": "={{ $json.body.examSessions ? ($json.body.examSessions.join(',').includes('A1_CD_Written') || $json.body.examSessions.join(',').includes('A1_CD_Full') ? 'TRUE' : 'FALSE') : 'FALSE' }}",
            "A1_CD_Oral": "={{ $json.body.examSessions ? ($json.body.examSessions.join(',').includes('A1_CD_Oral') || $json.body.examSessions.join(',').includes('A1_CD_Full') ? 'TRUE' : 'FALSE') : 'FALSE' }}",
            "TestDate": "={{ $json.body.examDate }}",
            "PassportUploaded": "={{ $json.body.passportUpload ? 'TRUE' : 'FALSE' }}",
            "Reg_Time": "={{ $json.body.timestamp }}",
            "applicationID": "={{ $json.body.applicationID }}",
            "A1_BJ_VIP": "={{ $json.body.examSessions ? ($json.body.examSessions.join(',').includes('A1_BJ_VIP') || $json.body.examSessions.join(',').includes('A1_BJ_Full') ? 'TRUE' : 'FALSE') : 'FALSE' }}",
            "B1_CD_Listening": "={{ $json.body.examSessions ? ($json.body.examSessions.join(',').includes('B1_CD_Listening') || $json.body.examSessions.join(',').includes('B1_CD_Full') ? 'TRUE' : 'FALSE') : 'FALSE' }}",
            "B1_CD_Oral": "={{ $json.body.examSessions ? ($json.body.examSessions.join(',').includes('B1_CD_Oral') || $json.body.examSessions.join(',').includes('B1_CD_Full') ? 'TRUE' : 'FALSE') : 'FALSE' }}",
            "B1_CD_Reading": "={{ $json.body.examSessions ? ($json.body.examSessions.join(',').includes('B1_CD_Reading') || $json.body.examSessions.join(',').includes('B1_CD_Full') ? 'TRUE' : 'FALSE') : 'FALSE' }}",
            "B1_CD_Written": "={{ $json.body.examSessions ? ($json.body.examSessions.join(',').includes('B1_CD_Written') || $json.body.examSessions.join(',').includes('B1_CD_Full') ? 'TRUE' : 'FALSE') : 'FALSE' }}",
            "FullName": "={{ $json.body.lastName + ' ' + $json.body.firstName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "FullName",
              "displayName": "FullName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FirstName",
              "displayName": "FirstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LastName",
              "displayName": "LastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gender",
              "displayName": "Gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "BirthDate",
              "displayName": "BirthDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nationality",
              "displayName": "Nationality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "BirthPlace",
              "displayName": "BirthPlace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Passport",
              "displayName": "Passport",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mobile",
              "displayName": "Mobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First_Time",
              "displayName": "First_Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A1_BJ_VIP",
              "displayName": "A1_BJ_VIP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "A1_CD_Written",
              "displayName": "A1_CD_Written",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A1_CD_Oral",
              "displayName": "A1_CD_Oral",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A2_CD_Written",
              "displayName": "A2_CD_Written",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A2_CD_Oral",
              "displayName": "A2_CD_Oral",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "B1_CD_Listening",
              "displayName": "B1_CD_Listening",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "B1_CD_Oral",
              "displayName": "B1_CD_Oral",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "B1_CD_Reading",
              "displayName": "B1_CD_Reading",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "B1_CD_Written",
              "displayName": "B1_CD_Written",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TestDate",
              "displayName": "TestDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PassportUploaded",
              "displayName": "PassportUploaded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reg_Time",
              "displayName": "Reg_Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paymentUploaded",
              "displayName": "paymentUploaded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "applicationID",
              "displayName": "applicationID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        60,
        240
      ],
      "id": "5928b813-33da-48eb-82c4-9c92524aaa2c",
      "name": "Google Sheets",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OWrqKQaJ59Y0WeAD",
          "name": "Skee's Google Sheet"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"报名成功！请查收邮件！\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        280,
        240
      ],
      "id": "a543102d-f857-45f1-9c8c-adaaaf393df5",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Process Form Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Form Data": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c6ff760c-a348-49f4-94e2-41311cfeaeed",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "62c4f474723b914af91e4af15e30298257d6540140abed5d09006251f9987da1"
  },
  "id": "ThG9oxXxEHkbCV5I",
  "tags": []
}